body {
  font-family: "Poppins", sans-serif;
}

.flexibale-container {
  display: flex;
  padding: 5rem;
  height: fit-content;
}
.half-width {
  width: 50%;
  padding-left: 3rem;
  height: auto;
}

.half-width h1 {
  font-family: Yeseva One;
  font-style: Regular;
  font-size: 60px;
  line-height: 80px;
}
.half-width p {
  padding-bottom: 2rem;
}

.half-width img {
  width: 426px;
  height: 540px;
  align-items: center;
  padding-left: 5rem;
}
.span-text {
  color: #ffad5a;
}

a {
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  background-color: #ff5959;
  border-radius: 2rem;
}
