body {
  font-family: "Poppins", sans-serif;
}

.flexibale-container {
  display: flex;
  padding: 5rem;
  height: fit-content;
}
.half-width {
  width: 50%;
  padding-left: 3rem;
}

.half-width h1 {
  font-family: Yeseva One;
  font-style: Regular;
  font-size: 60px;
  line-height: 80px;
  padding-left: 1rem;
}
.half-width p {
  padding-bottom: 2rem;
}

.half-width img {
  width: 426px;
  height: 540px;
  align-items: center;
  padding-left: 5rem;
}
.span-text {
  color: #ffad5a;
}

a {
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  background-color: #ff5959;
  border-radius: 2rem;
}

#left-border {
  border-left: 4px solid #ff5959;
  height: 124px;
}

.mission h1 {
  font-family: poppins;
  font-size: 48px;
  font-family: 600;
  line-height: 70px;
  text-align: center;
}

.mission-box-item {
  padding: 3rem;
}

.mission-box-item img {
  height: 100px;
  width: 100px;
  align-items: center;
}

#box-one {
  background-color: rgba(79, 157, 166, 0.1);
  border-radius: 1rem;
}

#box-tow {
  background-color: rgba(255, 89, 89, 0.1);
  border-radius: 1rem;
}

#box-three {
  background-color: #fff4d6;
  border-radius: 1rem;
}

.make-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}
